dateutils==0.6.12
Flask==1.1.2
jinja2==3.0.3
Flask-Cors==3.0.10
Flask-Mail==0.9.1
gunicorn==19.9.0
json5==0.9.5
jsonschema==3.2.0
pymongo==3.10.1
python-dateutil==2.8.1
python-telegram-bot==13.4.1
requests==2.25.1
requests-oauthlib==1.3.0
telegram==0.0.1
dnspython
itsdangerous==2.0.1
fyers-apiv2==2.0.5